<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Clock</title>
  </head>
  <body>
    <div class="clock" id="clock">
      <h1 id="h5">Digital Clock</h1>
      <h2 id="disTime1" *ngIf="!displayBtn">{{ time2 }}</h2>
      <h2 id="disTime" *ngIf="displayBtn">{{ time1 | date: "h:mm:ss a" }}</h2>

      <div>
        <div></div>
      </div>
      <button class="btn-time" (click)="HoursTwelve()" *ngIf="!displayBtn">
        12 Hours
      </button>
      <button class="btn-time" (click)="HoursTwentyFour()" *ngIf="displayBtn">
        24 Hours
      </button>
    </div>
  </body>
</html>
